In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Session #1 Homework

## Set up the environment

install 
- Python
- Numpy
- Pandas
- Matplotlib
- Seaborn

### Question 1

What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.21.5'

### Question 2

How many records are in the dataset?

In [4]:
df = pd.read_csv("./dataset/data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 3

The most popular car manufactureers

In [5]:
popular_car_df = df.Make.value_counts().reset_index()
popular_car_df[:3]

        index  Make
0   Chevrolet  1123
1        Ford   881
2  Volkswagen   809

### Question 4

Number of unique Audi car models

In [6]:
audi_df = df[df.Make == "Audi"].reset_index()
audi_count = audi_df.Model.value_counts()
len(audi_count)

34

### Question 5

Number of columns with missing values

In [55]:
col_name = df.columns

null = dict()
for col in col_name:
    null[col] = df[col].isnull().value_counts()
    
for col in col_name:
    print(null[col])

False    11914
Name: Make, dtype: int64
False    11914
Name: Model, dtype: int64
False    11914
Name: Year, dtype: int64
False    11911
True         3
Name: Engine Fuel Type, dtype: int64
False    11845
True        69
Name: Engine HP, dtype: int64
False    11884
True        30
Name: Engine Cylinders, dtype: int64
False    11914
Name: Transmission Type, dtype: int64
False    11914
Name: Driven_Wheels, dtype: int64
False    11908
True         6
Name: Number of Doors, dtype: int64
False    8172
True     3742
Name: Market Category, dtype: int64
False    11914
Name: Vehicle Size, dtype: int64
False    11914
Name: Vehicle Style, dtype: int64
False    11914
Name: highway MPG, dtype: int64
False    11914
Name: city mpg, dtype: int64
False    11914
Name: Popularity, dtype: int64
False    11914
Name: MSRP, dtype: int64

### Question 6

Does the median value change after filling missing values?

In [47]:
# Find the median value of "Engine Cylinders" column in the dataset
before = df['Engine Cylinders'].median()
print(f"before fill: {before}\n")

# Calculate the most frequent value of "Engine Cylinders"
mode = df["Engine Cylinders"].mode()
print(f"mode {mode}\n")

# fillna with mode of "Engine Cylinders"
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(mode)

# Calculate the median again
after = df['Engine Cylinders'].median()
print(f"after fill: {after}")

before fill: 6.0

mode 0    4.0
Name: Engine Cylinders, dtype: float64

after fill: 6.0

### Question 7

Value of the first element of w

In [42]:
# Select all the "Lotus" cars from the dataset
lotus_df = df[df.Make == "Lotus"]

# Select only columns "Engine HP", "Engine Cylinders"
lotus_df = lotus_df[['Engine HP', 'Engine Cylinders']]

# Drop duplicated rows using drop_duplicates
no_dups_lotus_df = lotus_df.drop_duplicates()
X = no_dups_lotus_df.values
print(f"Numpy array of X: {X}\n")
# print(X.shape)

# Compute matrix-matrix multiplication between the transpose of X and X
XT = X.T
print(f"X transpose: {XT}\n")
# print(XT.shape)

# Dot product
XTX = XT.dot(X)
print(f"Dot product of X {XTX}\n")

# Invert XTX
IXTX = np.linalg.inv(XTX)
print(f" Inverse of XTX: {IXTX}\n")


# Create an array y with values below
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
print(f"y: {y}\n")

# Multiple the inverse of XTX with the transpose of X multiple the result by Y assign to w
w = IXTX.dot(XT).dot(y)[0]
print(f"w: {w}")

Numpy array of X: [[189.   4.]
 [218.   4.]
 [217.   4.]
 [350.   8.]
 [400.   6.]
 [276.   6.]
 [345.   6.]
 [257.   4.]
 [240.   4.]]

X transpose: [[189. 218. 217. 350. 400. 276. 345. 257. 240.]
 [  4.   4.   4.   8.   6.   6.   6.   4.   4.]]

Dot product of X [[7.31684e+05 1.34100e+04]
 [1.34100e+04 2.52000e+02]]

 Inverse of XTX: [[ 5.53084235e-05 -2.94319825e-03]
 [-2.94319825e-03  1.60588447e-01]]

y: [1100  800  750  850 1300 1000 1000 1300  800]

w: 4.5949448100945744